/.gitattributes export-ignore
/.github export-ignore
/.github/** export-ignore
/.gitignore export-ignore
/.husky export-ignore
/.husky/** export-ignore
/.browserslistrc export-ignore
/.editorconfig export-ignore
/.nvmrc export-ignore
/CODE_OF_CONDUCT.md export-ignore
/commitlint.config.js export-ignore
/composer.lock export-ignore
/husky.config.js export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/release.config.js export-ignore
/scripts export-ignore
/scripts/** export-ignore
/whisk/.cli export-ignore
/whisk/.cli/** export-ignore
