includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - includes/
        - 404.php
        - archive.php
        - author.php
        - functions.php
        - index.php
        - page.php
        - search.php
        - single.php
    scanFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
    parallel:
        maximumNumberOfProcesses: 1
    excludePaths:
        - vendor/
        - node_modules/ (?)
        - whisk/
