.wp-block-columns.is-equal-height {
  align-items: stretch;

  > .wp-block-column {
    display: flex;
    flex-direction: column;
  }
}

.wp-block-file.has-media-caption {
  .wp-block-file__media-caption {
    margin-top: 0.5rem;
  }
}
