{% extends "tease.twig" %}

{% block content %}
	{% include "@atoms/text/headings/_heading.twig" with {
    heading_level: 2,
    heading: post.title,
    heading_url: post.link,
  } %}
  <p>{{post.preview.length(25)}}</p>
  {% if post.thumbnail.src %}
    <img src="{{post.thumbnail.src}}" />
  {% endif %}
{% endblock %}
